.recommend__donar {
}

.recommend__donar h6 {
    
}

.recommend__form input {
    height: 40px;
    width: 200px;
    border: none;
    border: 0.2px solid grey;
    margin: 15px;
    border-radius: 10px;
    padding:0 20px;
    font-size: 16px; 
}

.recommend__formSubmit{
    width: 100px !important;
}