.formDonate{
    background-color: rgb(233, 233, 252);
    border-radius: 5px;
    width: 80%;
    height: 80vh;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}


.formDonate__form{
    width: 45%;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    flex-direction: column;
}

.formDonate__form >div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin: 3px;
}

.formDonate__form input {
    width: 300px;
    height: 40px;
    font-size: 16px;
    border: none;
    background-color: rgb(233, 233, 252);
    border-bottom: 0.3px solid rgb(159, 151, 151);
    padding:  10px;
}

.bloodgroup > select{
    padding:  10px;
    width: 300px;
    background-color: rgb(233, 233, 252);
    border: none;
    border-bottom: 0.3px solid rgb(159, 151, 151);
}

.form__submitDO{
    background-color: rgb(144, 152, 162) !important;
    color: rgb(54, 53, 53);
    margin: 0 auto;
    margin-top: 30px;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
}